<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="personel_kayitprojesi.Properties.Settings.PersonelVeritabaniConnectionString"
            connectionString="Data Source=LAPTOP-5MSOFLT1\SQLEXPRESS03;Initial Catalog=PersonelVeritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>